@font-face {
  font-family: gotham-rounded-medium;
  src: url(./../font/gotham-rounded-medium.otf);
}

@font-face {
  font-family: futura-condensed-light;
  src: url(./../font/futura-condensed-light.otf);
}

@font-face {
  font-family: futura-heavy;
  src: url(./../font/futura-heavy.ttf);
}

@font-face {
  font-family: futura-medium;
  src: url(./../font/futura-medium.ttf);
}

.font-futura-cl{
    color: black;
    font-family: futura-condensed-light;
}
.font-futura-h{
    color: black;
    font-family: futura-heavy;
}
.font-futura-m{
    color: black;
    font-family: futura-medium;
}
.font-gotham-rm{
    color: black;
    font-family: gotham-rounded-medium;
}
.font-gotham-rm-w{
    color: white;
    font-family: gotham-rounded-medium;
}
.fs-s{
    font-size: 0.85rem;
}
.tw{
    color: white;
}

.bg-orange-lite{
    background: MOCCASIN;
}
.bg-orange{
    background: DARKORANGE;
}
.bg-white{
    background: snow!important;
}
.bg-seashell{
    background: SEASHELL;
}
.bg-transparent{
    background-color: #00000000;
}

.extnd-cnt{
    display: flex!important;
    flex-basis: auto;
    flex-grow: 1;
    align-items: center;
}



a.navbar-brand{
    color: black;
    font-family: gotham-rounded-medium;
    font-size: 24pt;
}

a.navbar-brand:hover{
    color: dimgrey;
}

a.nav-link{
    margin-left: .5rem;
    margin-right: .5rem;
    color: black;
    font-family: gotham-rounded-medium;
}

a.nav-link:hover{
    color: dimgrey;
}

.btn{
    border-radius: 2rem;
}

.btn-lg{
    font-size: 1rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.btn-xl{
    font-size: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}

.btn-dark{
    background-color: #000;
    border-color: #000;
}

.btn-orange{
    background-color: darkorange;
    border-color: darkorange;
}

.rounded-top {
    border-top-left-radius: 3rem!important;
    border-top-right-radius: 3rem!important;
}
.rounded-right {
    border-top-right-radius: 3rem!important;
    border-bottom-right-radius: 3rem!important;
}

.rounded-bottom{
    border-bottom-left-radius: 3rem!important;
    border-bottom-right-radius: 3rem!important;
}

rounded-left{
    border-bottom-left-radius: 3rem!important;
    border-top-left-radius: 3rem!important;
}
.rounded-b-l{
    border-bottom-left-radius: 3rem!important;
}
.rounded-b-r{
    border-bottom-right-radius: 3rem!important;
}
.rounded-t-l{
    border-top-left-radius: 3rem!important;
}
.rounded-t-r{
    border-top-right-radius: 3rem!important;
}

.rounded-card{
    border-bottom-left-radius: 1rem!important;
    border-bottom-right-radius: 1rem!important;
    border-top-left-radius: 1rem!important;
    border-top-right-radius: 1rem!important;
}
.hidden-scrolbar::-webkit-scrollbar {
  display: none;
}

.h-5 {
    height: 5%!important;
}
.h-10 {
    height: 10%!important;
}
.h-13 {
    height: 13%!important;
}
.h-15 {
    height: 15%!important;
}
.h-20 {
    height: 20%!important;
}
.h-25 {
    height: 25%!important;
}
.h-30 {
    height: 30%!important;
}
.h-35 {
    height: 35%!important;
}
.h-40 {
    height: 40%!important;
}
.h-45 {
    height: 45%!important;
}
.h-50 {
    height: 50%!important;
}
.h-55 {
    height: 55%!important;
}
.h-60 {
    height: 60%!important;
}
.h-65 {
    height: 65%!important;
}
.h-70 {
    height: 70%!important;
}
.h-75 {
    height: 75%!important;
}
.h-80 {
    height: 80%!important;
}
.h-85 {
    height: 85%!important;
}
.h-90 {
    height: 90%!important;
}
.h-95 {
    height: 95%!important;
}
.h-100 {
    height: 100%!important;
}

.py-login{
    padding-bottom: 2.5rem!important;
    padding-top: 2.5rem!important;
}

.plt-xl{
    padding-left: 3.5rem!important;
    padding-top: 3.5rem!important;
}
.p-xl{
    padding-right: 3.5rem!important;
    padding-left: 3.5rem!important;
    padding-top: 2.5rem!important;
    padding-bottom: 2.5rem!important;
}
.p-categorie{
    padding-top: 2rem!important;
    padding-left: 3rem!important;
    padding-right: 3rem!important;

}

.mt-prc{
    margin-top: 2%;
}

.image-home{
    background-image: url("./../img/gummy-office-bag.png");
    background-size: cover;
}
.image-prg{
    background-image: url("./../img/gummy-programming.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
}
.image-chi{
    background-image: url("./../img/gummy-chemistry-lab.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
}
.image-arc{
    background-image: url("./../img/gummy-designer-tools-1.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
}
.image-med{
    background-image: url("./../img/gummy-medical-lab.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
}
.image-eco{
    background-image: url("./../img/gummy-wallet.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
}
.image-let{
    background-image: url("./../img/gummy-writing-tools.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
}
.logo-radio-sapienza{
    margin-top: 2rem;
    margin-left: 3rem;
    background-image: url("./../img/logovettradiorsso-mini.png");
    height: 2rem;
    background-size: contain;
    background-repeat: no-repeat;
}

.v-center{
    vertical-align: -webkit-center;
}

.zindex-bottom{z-index: 1000!important;}
.zindex-middle{z-index: 1020!important;}
.zindex-top{z-index: 1040!important;}