@font-face {
  font-family: gotham-rounded-medium;
  src: url(./../font/gotham-rounded-medium.otf);
}

.bg-orange-lite{
    background: MOCCASIN;
}
.bg-orange{
    background: DARKORANGE;
}
.bg-white{
    background: snow!important;
}
.bg-transparent{
    background-color: #00000000;
}

.extnd-cnt{
    display: flex!important;
    flex-basis: auto;
    flex-grow: 1;
    align-items: center;
}



a.navbar-brand{
    color: black;
    font-family: gotham-rounded-medium;
    font-size: 24pt;
}

a.navbar-brand:hover{
    color: dimgrey;
}

a.nav-link{
    color: black;
    font-family: gotham-rounded-medium;
}

a.nav-link:hover{
    color: dimgrey;
}

.btn{
    border-radius: 2rem;
}

.btn-lg{
    font-size: 1rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.btn-dark{
    background-color: #000;
    border-color: #000;
}

.rounded-top {
    border-top-left-radius: 3rem!important;
    border-top-right-radius: 3rem!important;
}
.rounded-right {
    border-top-right-radius: 3rem!important;
    border-bottom-right-radius: 3rem!important;
}

.rounded-bottom{
    border-bottom-left-radius: 3rem!important;
    border-bottom-right-radius: 3rem!important;
}

rounded-left{
    border-bottom-left-radius: 3rem!important;
    border-top-left-radius: 3rem!important;
}
.rounded-b-l{
    border-bottom-left-radius: 3rem!important;
}
.rounded-b-r{
    border-bottom-right-radius: 3rem!important;
}
.rounded-t-l{
    border-top-left-radius: 3rem!important;
}
.rounded-t-r{
    border-top-right-radius: 3rem!important;
}

.h-5 {
    height: 5%!important;
}
.h-10 {
    height: 10%!important;
}
.h-15 {
    height: 15%!important;
}
.h-20 {
    height: 20%!important;
}
.h-25 {
    height: 25%!important;
}
.h-30 {
    height: 30%!important;
}
.h-35 {
    height: 35%!important;
}
.h-40 {
    height: 40%!important;
}
.h-45 {
    height: 45%!important;
}
.h-50 {
    height: 50%!important;
}
.h-55 {
    height: 55%!important;
}
.h-60 {
    height: 60%!important;
}
.h-65 {
    height: 65%!important;
}
.h-70 {
    height: 70%!important;
}
.h-75 {
    height: 75%!important;
}
.h-80 {
    height: 80%!important;
}
.h-85 {
    height: 85%!important;
}
.h-90 {
    height: 90%!important;
}
.h-95 {
    height: 95%!important;
}
.h-100 {
    height: 100%!important;
}
