@font-face {
  font-family: gotham-rounded-medium;
  src: url(./../font/gotham-rounded-medium.otf);
}

.bg-orange-lite{
    background: #ffcc99;
}
.bg-transparent{
    background-color: #00000000;
}

.extnd-cnt{
    display: flex!important;
    flex-basis: auto;
    flex-grow: 1;
    align-items: center;
}

.navbar-extnd-always{
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -ms-flex-pack: start;
    justify-content: flex-start;
    display: flex;
    flex-direction: row;
}

a.navbar-brand{
    color: black;
    font-family: gotham-rounded-medium;
    font-size: 24pt;
}

a.navbar-brand:hover{
    color: dimgrey;
}

a.nav-link{
    color: black;
    font-family: gotham-rounded-medium;
}

a.nav-link:hover{
    color: dimgrey;
}

.btn{
    border-radius: 2rem;
}

.btn-lg{
    font-size: 1rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.btn-dark{
    background-color: #000;
    border-color: #000;
}
